{% extends 'nav3.html' %}


<title>
    {% block title %}
    DATABASES
    {% endblock title %}
  </title>
  
  {% block body %}
  
  {% with messages=get_flashed_messages (with_categories=true)%}
          {% if messages %}
          {% for category, message in messages %}
          
          <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
          {{message}}
          
            <button type="button” class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
            {% endfor %}
            {% endif %}
            {% endwith %}
            <h1>DATABASES</h1>

            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/d">doctors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/u">users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/b">bookings</a>
              </li>
            
            </ul>
  
            
  
  {% endblock body %}